# main BdD
DB_HOST=localhost
DB_PORT=3306
DB_USER=user_name
DB_PASSWORD=user_pass
DB_NAME=db

# test BdD
TEST_DB_HOST=localhost
TEST_DB_PORT=3306
TEST_DB_USER=user_name
TEST_DB_PASSWORD=user_pass
TEST_DB_NAME=db_test

PORT=3000
APP_HOST=http://localhost